<div>
  <input
    type="text"
    class="searchRepos"
    [formControl]="searchReposFormControl"
    placeholder="Search repositories"
  />
  <button (click)="searchReposFormControl.setValue('')">Clear</button>
</div>

<div>
  <input
    type="text"
    class="searchUsers"
    [formControl]="searchUsersFormControl"
    placeholder="Search users"
  />
  <button (click)="searchUsersFormControl.setValue('')">Clear</button>
</div>

<div *ngFor="let result of results$ | async">
  <div>
    <a [href]="result.html_url" target="_blank">{{
      result.name || result.login
    }}</a>
  </div>
</div>